node_modules
.pnp
target
.next
out
build
coverage
src
test
public
docs
.idea
.vscode
.git
.github
*.md
LICENSE
*.config.*
.*ignore
.*rc
.env*
pnpm-*
next*
postcss*
tailwind*
tsconfig*
sonar-project*
jest*
eslint*
shell.nix
